<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= title %></h1>
    <ul>
        <% for(var i=0; i<find.length;i++){ %>
            <li> <%= find[i].name %> </li>
            <li> <%= find[i].rank %> </li>
            <li> <%= find[i].age %> </li>
        <% } %>
    </ul>
    <ul>
        <% for(var i=0; i<find2.length;i++){ %>
            <li> <%= find2[i].name %> </li>
            <li> <%= find2[i].rank %> </li>
            <li> <%= find2[i].age %> </li>
        <% } %>
    </ul>


    <button id="btn">Odczyt z bazy danych</button>

    <ul>
        <li id="danePobrane1"></li>
        <li id="danePobrane2"></li>
        <li id="danePobrane3"></li>
    </ul>


    <form action="/" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="rank" name="rank">
        <input type="number" placeholder="age" name="age">
        <button type="submit">Dodaj do bazy</button>
    </form>

    <script src="./../js/index.js"></script>
</body>
</html>